{% extends "base.html" %}

{% block page %}

    <div class="container">

        <div class="jumbotron">
            <h1>Login to My Fitness</h1>

            <form id="login_form" method="post" action="/fitness/dashboard/">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50" />
                <br />
                Password: <input type="password" name="password" value="" size="50" />
                <br />
                <input class="btn btn-primary btn-md" type="submit" value="Submit" />
                <a class="btn btn-primary btn-md" href="../register">Register</a>
            </form>
        </div>
    </div>
{% endblock %}